body {

font-family: 'Syne Mono', monospace, serif;
margin: 0;
background: radial-gradient(#457B9D, #1D3557);
}

* 
{box-sizing: border-box;

}

html {
    min-height: 100vh;
}

.page-title{

color: #E63946;
font-weight: 600;
text-align: center;
font-size: 4em;
}

.game-info-container {

grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}

.game-info{

color: #A8DADC;
font-size: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px; 
    margin: 50px;
    justify-content: center;
}

.card {
position: relative;
background-color: #A8DADC;
height: 175px;
width: 125px;
}

.card-face {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.bar-chart{

position: absolute;
width: 47px;
height: 47px;

}

.bar-chart-top-left{
    top: 0;
    left: 0; 
}

.bar-chart-top-right{
    top: 0;
    right: 0; 

}
.bar-chart-bottom-left{
    bottom: 0;
    left: 0; 
}

.bar-chart-bottom-right{
    bottom: 0;
    right: 0; 
}

.female-icon{
    align-self: flex-start;
    width: 47px;
    height: 47px;
}