body {

font-family: 'Syne Mono', monospace, serif;
margin: 0;
background: radial-gradient(#457B9D, #1D3557);
}

* 
{box-sizing: border-box;

}

html {
    min-height: 100vh;
    cursor: url(assets/cursors/female_sci.cur), auto;
}

.page-title{

color: #E63946;
font-weight: 600;
text-align: center;
font-size: 4em;
}


.lead {

    color:#F1FAEE;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
}



.game-info-container {

grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}

.game-info{

color: #A8DADC;
font-size: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px; 
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}



.card {
position: relative;
height: 175px;
width: 125px;
transform: scale(1);
}


.card:hover {

    cursor: url("assets/cursors/FemaleIcon.cur"), auto;
}


/*idea for active card on click is from Marina Ferreira under https://www.youtube.com/watch?v=ZniVgo8U7ek&t=681s (from 11:33min) */

.card:active {

    transform: scale(.97);
     transition: transform .2s;
}

.card-face {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out; 
}

/*.card:hover needs to go out here for .card.visible for actual game, in both lines*/
.card.visible .card-back{

transform: rotateY(-180deg);

}
.card.visible .card-front{

transform: rotateY(0)
}


.card-back {

    background-color: #A8DADC;
    border: 2px solid #E63946;
    
}


.female-icon{

position: absolute;
width: 37px;
height: 37px;
transition: width 100ms ease-in-out, height 100ms ease-in-out;

}

.card-back:hover .female-icon {

    width: 42px;
    height: 42px;
}

.female-icon-top-left{
    top: 0;
    left: 0; 
}

.female-icon-top-right{
    top: 0;
    right: 0; 

}
.female-icon-bottom-left{
    bottom: 0;
    left: 0; 
}

.female-icon-bottom-right{
    bottom: 0;
    right: 0; 
}

.normaldistribution{
    align-self: center;
    height: 130px;
    width: 125px;
    
}



.card-front{
    transform: rotateY(180deg);
    border: 2px solid #F1FAEE;
    backface-visibility: hidden;
}


.card-value {

height: 100%;
width: 100%;
position: relative;
border-radius: 12px;
transition: .4s ease-in-out;
/*transition above is part of the animation mentioned below taken from codepen*/
}


/*Aninmation below is inspired by memory game under https://codepen.io/natewiley/pen/HBrbL (Part 1) .card:hover needs to be changed back into .card.matched for JS*/

.card.matched .card-value{


animation: 1s matchAnim ease-in-out;
animation-delay: .5s;

}


.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #E63946;
    justify-content: center;
    align-items: center;
    z-index: 100; 
    font-family: 'Syne Mono', monospace, serif;
    transition: background-color 500ms, font-size 500ms;


}


.overlay-text-small {
   font-size: .3em;


}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;

}


.overlay-text p {

font-size: 5.5rem;
}


.prize-bio a{

    color: #E63946;
}


.prize-btn {

font-family: 'Syne Mono', monospace, serif;
font-size: 2rem;
color:#E63946;
margin-top: 1rem;
background-color: transparent;
border: 1px solid #E63946;

}


/*Prize info gallery*/

.main {

    max-width: 1000px;
    margin: auto;
}

.row {

    margin: 8px - 16px;

}

.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 25%;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color:#F1FAEE;
  padding: 10px;
}

.prize-image {

    border-radius: 12px;
    width: 25%;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.prize-image:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}






/*.prize-content {

}


*/
/* Responsive picture frame taken from https://codepen.io/dudleystorey/pen/yyZpeX */
img.frame {
  border-image: url('//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png') 93 92 87 92 stretch stretch; 
  border-color: #f4be52;
  border-style: inset;
  border-width: 60px;
  display: block;
  width: 120%;
  height: auto;
  background-color: black;
  margin: 0;
}



/*Alertbox*/

.alertbox {
    position:fixed;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -80%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid #E63946;
    border-radius: 10px;
    z-index: 10;
    background-color:#F1FAEE;
    width: 500px;
    max-width: 80%;
}


.alertbox.active {

transform: translate(-50%, -80%) scale(1);
}

.alertbox-header{

padding: 10px 15px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1.5px solid black;

}

/*for some reason sytling of header does not show as it should, but if I change to .title only, it does*/
.alertbox-header.title {

font-size: 1.25rem;
font-weight: bold;
}

.alertbox-header .close-button {

    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.alertbox-header.close-button:hover {

    cursor: url("assets/cursors/FemaleIcon.cur"), auto;
}

.alertbox-body {

    padding: 10px 15px;
}


/*#overlay {

    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*z-index: 100;*/
    /*background-color: rgba(0,0,0,.8);
    pointer-events: none;
    /*so that the overlay won't capture click events, so to be able to click on anything outside the modal when the overlay is not active*/

/*}


#overlay.active {

opacity: 1;
pointer-events: all;

}*/



footer {

    margin: 0;
    background-color: transparent;
    padding: 5px;
    color: #F1FAEE;
    text-align: center;
    display: block;
}

.container-fluid {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}







@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0,.8);
        font-size: 10em;
    }

}

/*Aninmation below is inspired by memory game under https://codepen.io/natewiley/pen/HBrbL (Part 2)*/


@keyframes matchAnim {
	0% { 
		background: #E63946;
	}
	100% {
		background: #A8DADC;
	}
}


@media (max-width: 900px) {

    .column {
        width: 50%;
    }
}

@media (max-width: 600px) {

    .game-container {
        grid-template-columns: repeat(2, auto);

    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }

  img.frame { 
    border-width: 0px;
    width: 100%; }
    }

    .column {

        width: 100%;
    }
}