body {

font-family: 'Syne Mono', monospace, serif;
margin: 0;
background: radial-gradient(#457B9D, #1D3557);
}

* 
{box-sizing: border-box;

}

html {
    min-height: 100vh;
    cursor: url(assets/cursors/female_sci.cur), auto;
}

.page-title{

color: #E63946;
font-weight: 600;
text-align: center;
font-size: 4em;
}


.lead {

    color:#F1FAEE;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
}



.game-info-container {

grid-column: 1 / -1;
display: flex;
justify-content: space-between;
}

.game-info{

color: #A8DADC;
font-size: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px; 
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}



.card {
position: relative;
height: 175px;
width: 125px;
transform: scale(1);
}


.card:hover {

    cursor: url("assets/cursors/FemaleIcon.cur"), auto;
}


/*idea for active card on click is from Marina Ferreira under https://www.youtube.com/watch?v=ZniVgo8U7ek&t=681s (from 11:33min) */

.card:active {

    transform: scale(.97);
     transition: transform .2s;
}

.card-face {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out; 
}

/*.card:hover needs to go here instead of .card.visible for actual game, in both lines*/
.card.visible .card-back{

transform: rotateY(-180deg);

}
.card.visible .card-front{

transform: rotateY(0)
}


.card-back {

    background-color: #A8DADC;
    border: 2px solid #E63946;
    
}


.female-icon{

position: absolute;
width: 37px;
height: 37px;
transition: width 100ms ease-in-out, height 100ms ease-in-out;

}

.card-back:hover .female-icon {

    width: 42px;
    height: 42px;
}

.female-icon-top-left{
    top: 0;
    left: 0; 
}

.female-icon-top-right{
    top: 0;
    right: 0; 

}
.female-icon-bottom-left{
    bottom: 0;
    left: 0; 
}

.female-icon-bottom-right{
    bottom: 0;
    right: 0; 
}

.normaldistribution{
    align-self: center;
    height: 130px;
    width: 125px;
    
}



.card-front{
    transform: rotateY(180deg);
    border: 2px solid #F1FAEE;
    backface-visibility: hidden;
}


.card-value {

height: 100%;
width: 100%;
position: relative;
border-radius: 12px;
}


/*Aninmation below is inspired by memory game under https://codepen.io/natewiley/pen/HBrbL (Part 1) .card:hover needs to be changed back into .card.matched for JS*/

.card:hover .card-vlaue{


animation: 1s matchAnim ease-in-out;
animation-delay: .5s;

}


.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #E63946;
    justify-content: center;
    align-items: center;
    z-index: 100; 
    font-family: 'Syne Mono', monospace, serif;
    transition: background-color 500ms, font-size 500ms;


}


.overlay-text-small.visible {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: #E63946;
    justify-content: center;
    align-items: center;
    z-index: 100; 
    font-family: 'Syne Mono', monospace, serif;
    transition: background-color 500ms, font-size 500ms;

}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;

}


.overlay-prize-text.visible {
/* smaller and at the bottom */
}

#prize-text{

    display: none;
    position: absolute;
    color: #E63946;
    justify-content: center;
    align-items: center;
    z-index: 100; 
    font-family: 'Syne Mono', monospace, serif;
    transition: background-color 500ms, font-size 500ms;

}


#restart-button {

}

#prize-button {

    
}


footer {

    margin: 0;
    background-color: #E63946;
    padding: 5px;
    color: black;
    text-align: center;
    padding: 10px, 0;
    display: block;
}

.container-fluid {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}







@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        background-color: rgba(0,0,0,.8);
        font-size: 10em;
    }

}

/*Aninmation below is inspired by memory game under https://codepen.io/natewiley/pen/HBrbL (Part 2)*/


@keyframes matchAnim {
	0% { 
		background: #E63946;
	}
	100% {
		background: #A8DADC;
	}
}

@media (max-width: 600px) {

    .game-container {
        grid-template-columns: repeat(2, auto);

    }

    .game-info-container {
        flex-direction: column;
        align-items: center;
    }

}